@import "../../../styles/vars.scss";

.issue {
  padding: 1rem;
  border-bottom: 1px solid $lightest-grey;
  overflow: auto;
  text-overflow: ellipsis;
  max-width: 90vw;

  &:hover {
    background-color: $lightest-grey;
  }

  .meta {
    font-size: 0.8rem;
    color: $light-grey;
    margin-top: 0.5rem;
  }
}
