<div class="issue" fxLayout="row">
  <div fxFlex="50px" fxHide.lt-md="true">
    <mat-icon>info_outline</mat-icon>
  </div>
  <div fxFlex>
    <div class="title">
      <a id="issue-hyperlink" [href]="issue.html_url" target="_blank">
        <strong>{{ issue.title | textLimiter: 100 }}</strong>
      </a>
    </div>
    <div class="meta">
      #{{ issue.number }} opened {{ issue.created_at | DatePipe: true }} by
      {{ issue.user.login }} &bull;
      {{ issue?.comments | i18nPlural: commentMapping }}
    </div>
  </div>
</div>
