@import "../../../styles/vars.scss";

#search-container {
  margin-bottom: 2rem;
  input {
    box-sizing: border-box;
    height: 2rem;
    border: 1px solid $lighter-grey;
    padding: 1rem;
  }
}

.octocat-ghost {
  // height: 50vh;

  .no-repos {
    color: $light-grey;
    margin: 4rem 0;
  }
}
