<div
  id="search-container"
  fxLayout="row wrap"
  fxLayoutAlign="center center"
  fxLayoutAlign.lt-md="start center"
  fxLayoutGap="10px"
>
  <input
    fxFlex="33"
    fxFlex.lt-md="75"
    type="text"
    placeholder="Search GitHub Repositories"
    [(ngModel)]="searchTerm"
    (ngModelChange)="searchChanged($event)"
  />
  <div fxFlex="5">
    <button
      mat-raised-button
      type="button"
      [disabled]="!searchTerm"
      (click)="clearSearch()"
    >
      Clear
    </button>
  </div>
</div>

<div *ngIf="searching" fxLayoutAlign="center center">
  <mat-spinner color="accent" diameter="50"></mat-spinner>
</div>

<div>
  <div *ngFor="let result of repos">
    <app-search-result [result]="result"></app-search-result>
  </div>
</div>

<mat-paginator
  *ngIf="repos.length"
  [length]="totalResults"
  [pageIndex]="pageNumber - 1"
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 25, 100]"
  (page)="handlePage($event)"
></mat-paginator>

<div
  class="octocat-ghost"
  fxLayout="column"
  fxLayoutAlign="center center"
  *ngIf="!repos.length && !searching"
>
  <p *ngIf="searchTerm" class="no-repos">
    No repositories match your search term
  </p>
  <img src="assets/Octocat.svg" width="300px" />
</div>
