@import "../../../styles/vars.scss";

.meta-chip {
  max-width: 200px;
  border: 1px solid $lighter-grey;
  border-radius: 5px;

  .meta-label {
    padding: 2px;
    border-right: 1px solid $lighter-grey;
    background-color: $lightest-grey;
  }

  .meta-value {
    padding: 2px;
  }
}
