<div class="meta-chip" fxLayout="row">
  <div
    class="meta-label"
    fxFlex="60"
    fxLayout="row"
    fxLayoutAlign="space-evenly center"
  >
    <mat-icon inline="true">{{ icon }}</mat-icon> <span>{{ label }}</span>
  </div>
  <div fxFlex class="meta-value" [title]="value" fxLayoutAlign="center center">
    {{ value | numberAbbr: 0 }}
  </div>
</div>
