@import "../../../styles/vars.scss";
.about {
  .details {
    max-width: 90vw;
    .meta {
      padding: 1rem 0;

      app-meta-chip {
        min-width: 150px;
      }
    }
    .repo-link,
    h1 {
      overflow: visible;
      text-overflow: ellipsis;
    }

    h1 {
      font-size: 2rem;
    }
  }

  mat-tab-group {
    margin: 1rem 0;
  }
}

.issues {
  border-top: 1px solid $lightest-grey;
  padding-top: 1rem;
}

.not-found {
  h1 {
    font-size: 10rem;
  }
}
