<div *ngIf="repo">
  <div class="about">
    <div class="details" fxLayout="row" fxLayout.lt-md="column">
      <div fxFlex="50">
        <div
          class="meta"
          fxLayout="row wrap"
          fxLayoutAlign="start center"
          fxLayoutGap="5px"
        >
          <app-meta-chip
            icon="star"
            label="Star"
            [value]="repo.stargazers_count"
          ></app-meta-chip>

          <app-meta-chip
            icon="visibility"
            label="Watch"
            [value]="repo.watchers_count"
          ></app-meta-chip>

          <app-meta-chip
            icon="call_split"
            label="Fork"
            [value]="repo.forks"
          ></app-meta-chip>

          <app-meta-chip
            icon="report"
            label="Issue"
            [value]="repo.open_issues"
          ></app-meta-chip>
        </div>

        <h1 [title]="repo.full_name">{{ repo.full_name | textLimiter: 50 }}</h1>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
          <div fxLayoutAlign="start center" title="License">
            <mat-icon inline="true">plagiarism</mat-icon>
            {{ repo.license ? repo.license.name : "Unspecified License" }}
          </div>
          <div fxHide.lt-md="true">&bull;</div>
          <div class="repo-link">
            <a [href]="repo.html_url" target="_blank" [title]="repo.html_url">
              {{ repo.html_url | textLimiter: 50 }}
            </a>
          </div>
        </div>

        <p>{{ repo.description }}</p>
      </div>

      <div fxFlex="50" fxLayoutAlign="center start">
        <app-pie-chart
          [owner]="owner"
          [name]="name"
          (issueCounts)="setIssueCounts($event)"
        ></app-pie-chart>
      </div>
    </div>
  </div>

  <div class="issues">
    <div fxLayoutAlign="start center" fxLayoutGap="20px">
      <h2>Issues</h2>
      <mat-button-toggle-group
        name="issueState"
        [(ngModel)]="issueState"
        (change)="handleStateChange()"
      >
        <mat-button-toggle value="open">Open</mat-button-toggle>
        <mat-button-toggle value="closed">Closed</mat-button-toggle>
        <mat-button-toggle value="all">All</mat-button-toggle>
      </mat-button-toggle-group>

      <div
        *ngIf="issueCounts"
        fxHide.lt-md="true"
        fxLayoutGap="10px"
        fxLayoutAlign="start center"
      >
        <div fxLayoutAlign="start center">
          <mat-icon inline="true">info_outline</mat-icon>
          {{ issueCounts.open }} Open
        </div>

        <div fxLayoutAlign="start center">
          <mat-icon inline="true">check</mat-icon>
          {{ issueCounts.closed }} Closed
        </div>
      </div>
    </div>

    <div class="results">
      <div *ngIf="searching" fxLayoutAlign="center center">
        <mat-spinner color="accent" diameter="50"></mat-spinner>
      </div>

      <div *ngFor="let issue of issues">
        <app-issue-result [issue]="issue"></app-issue-result>
      </div>
    </div>

    <mat-paginator
      *ngIf="issues"
      [length]="totalResults"
      [pageIndex]="pageNumber - 1"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="handlePage($event)"
    ></mat-paginator>
  </div>
</div>

<div class="not-found" *ngIf="repoNotFound">
  <div fxLayout="column" fxLayoutAlign="center center">
    <h1>🙈</h1>
    <p>
      Oh no! Looks like we can't find the repository you were looking for,
      perhaps try
      <a class="home-link" [routerLink]="['/']">searching for it</a>?
    </p>
  </div>
</div>
