<mat-toolbar id="toolbar" color="primary">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <a
      class="logo"
      fxFlex
      [routerLink]="['/']"
      fxLayoutAlign="center center"
      title="Home"
    >
      <img src="assets/Octocat.png" alt="Octocat" />
      GitHub Explorer
    </a>
  </div>
</mat-toolbar>

<div id="route-container">
  <router-outlet></router-outlet>
</div>
