/* You can add global styles to this file, and also import other style files */
@import "~normalize.css";
@import "./styles/vars.scss";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px; // All rem size are relative to this value
}

a {
  color: $hyperlink-color;
}
