<div fxLayout="column" fxLayoutAlign="start center">
  <div fxFlex fxLayout="row">
    <div fxFlex>
      <svg width="100%" height="100%" viewBox="0 0 42 42" class="donut">
        <circle
          class="donut-hole"
          cx="21"
          cy="21"
          r="15.91549430918954"
          fill="#fff"
        ></circle>
        <circle
          class="donut-ring"
          cx="21"
          cy="21"
          r="15.91549430918954"
          fill="transparent"
          [attr.stroke]="legend.closed.color"
          stroke-width="3"
        ></circle>
        <circle
          class="donut-segment"
          cx="21"
          cy="21"
          r="15.91549430918954"
          fill="transparent"
          [attr.stroke]="legend.open.color"
          stroke-width="3"
          [attr.stroke-dasharray]="openPercent + ' ' + (100 - openPercent)"
          [attr.stroke-dashoffset]="0"
        ></circle>
      </svg>
    </div>
    <div fxFlex class="legend" fxLayoutAlign="center center">
      <div fxLayout="column" fxLayoutGap="10px" *ngIf="openPercent">
        <h4 fxFlex>Issue Summary</h4>
        <div fxLayout="row" fxLayoutGap="5px">
          <div
            fxFlex="10"
            class="legend-color"
            [ngStyle]="{
              'background-color': legend['open'].color
            }"
          ></div>
          <div fxFlex class="legend-label">
            {{ legend["open"].label }}
            ({{ openCount }})
          </div>
        </div>

        <div fxLayout="row" fxLayoutGap="5px">
          <div
            fxFlex="10"
            class="legend-color"
            [ngStyle]="{
              'background-color': legend['closed'].color
            }"
          ></div>
          <div fxFlex class="legend-label">
            {{ legend["closed"].label }}
            ({{ closedCount }})
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
