<div fxLayout="row" class="result">
  <div
    fxHide.lt-md="true"
    fxFlex="10"
    class="owner"
    fxLayout="column"
    fxLayoutAlign="start center"
  >
    <img [src]="result.owner.avatar_url" [alt]="result.owner.login" />
    <div class="owner-login">{{ result.owner.login }}</div>
  </div>

  <div fxFlex class="details">
    <div fxLayoutAlign="start center">
      <img
        src="/assets/Octocat.jpg"
        matTooltip="GitHub Repository"
        width="20px"
      />
      <div class="repo-name" (click)="navigate(result.full_name)">
        {{ result.full_name }}
      </div>
    </div>
    <p>{{ result.description }}</p>
    <div
      class="meta"
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="10px"
    >
      <div matTooltip="Star Gazers" fxLayoutAlign="start center">
        <mat-icon inline="true">star</mat-icon> {{ result.stargazers_count }}
      </div>
      <div
        matTooltip="Language"
        fxLayoutAlign="start center"
        *ngIf="result.language"
      >
        <mat-icon inline="true">code</mat-icon> {{ result.language }}
      </div>
      <div
        fxHide.lt-md="true"
        matTooltip="License"
        fxLayoutAlign="start center"
      >
        <mat-icon inline="true">plagiarism</mat-icon> {{ result.license?.name }}
      </div>
      <div matTooltip="Last Updated" fxLayoutAlign="start center">
        <mat-icon inline="true">event</mat-icon>
        {{ result.updated_at | DatePipe: true }}
      </div>
    </div>
  </div>
</div>
