@import "../../../styles/vars.scss";

.result {
  margin-bottom: 2rem;
  border-bottom: 1px solid $lightest-grey;

  .owner {
    img {
      width: 50px;
      height: auto;
      margin-bottom: 0.5rem;
    }
    .owner-login {
      color: $light-grey;
      font-size: 0.8rem;
    }
  }

  .details {
    max-width: 80vw;
    .repo-name {
      cursor: pointer;
      color: $hyperlink-color;
      overflow: auto;
      text-overflow: ellipsis;
    }

    .meta {
      font-size: 0.8rem;
      color: $light-grey;
      cursor: help;
      margin-bottom: 2rem;
    }
  }
}
